<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>新策展者申請：</p>
<ul>
	<li>
        <p>{{ target_item.real_name }}</p>
	</li>
    <li>
        <p>{{ target_item.school }}</p>
	</li>
    <li>
        <p>{{ target_item.department }}</p>
	</li>
    <li>
        <p>{{ target_item.master_email }}</p>
	</li>
    <li>
        <p><a href="{{ target_item.master_url }}">申請人主頁</a></p>
	</li>
    <br>
    <div>
        <p><a href="{{ my_host }}/accounts/apply_master/agree/{{ check_token }}">同意申請</a></p>
    </div>
    <br>
    <div>
        <p><a href="{{ my_host }}/accounts/apply_master/disagree/{{ check_token }}">拒絕申請</a></p>
	</div>
</ul>

</body>
</html>