<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<p>您好，</p>#}

<p>新策展者申請：</p>
<ul>
	<li>
        <p>{{ target_item.real_name }}</p>
	</li>
    <li>
        <p>{{ target_item.school }}</p>
	</li>
    <li>
        <p>{{ target_item.department }}</p>
	</li>
    <li>
        <p>{{ target_item.master_email }}</p>
	</li>
    <li>
        <p><a href="{{ target_item.master_url }}">申請人主頁</a></p>
	</li>
    <br>
    <div>
        <p><a href="{{ my_host }}/accounts/apply_master/agree/{{ check_token }}">同意申請</a></p>
    </div>
    <br>
    <div>
        <p><a href="{{ my_host }}/accounts/apply_master/disagree/{{ check_token }}">拒絕申請</a></p>
	</div>
</ul>

{#<p>附件供參考。</p>#}
{#<br>#}
{#<div>#}
{#    {% autoescape off %}#}
{#        {{ announcement }}#}
{#    {% endautoescape %}#}
{#</div>#}
{#<p><a href="https://www.openedu.tw/" target="_blank"><img alt="https://www.openedu.tw/" src="https://autoemail.openedu.tw/static/images/logo_openedu.png" style="height:38px; width:150px" /></a>　　#}
{#    <a href="https://www.facebook.com/openedu.tw/" target="_blank"><img alt="image.png" src="https://autoemail.openedu.tw/static/images/logo_fb.png" style="height:40px; width:40px" /></a>#}
{#</p>#}

</body>
</html>