{% extends 'base.html' %}
{% block title %}我的資料{% endblock  %}
{% block content %}
    <section class="bottom" id="table-section">
        <div class="container">
            <h2 class="title">我的資料</h2>
            <p class="sub_title">檢視我的個人資訊</p>
            <div class="content-box table-responsive">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <h3 class="title">我的資料</h3>
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="validationDefault02">真實姓名</label>
                          {{ target_form.real_name }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="validationDefault02">學校</label>
                          {{ target_form.school }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="validationDefault02">系所</label>
                          {{ target_form.department }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="validationDefault02">權限</label><br>
                          {{ role_status }}
                        </div>
                      </div>
                      <hr>
                      <button class="btn btn-primary" type="submit">送出</button>
                </form>
            </div>
        </div>
    </section>
{% endblock  %}
{% block JScontent %}
{% endblock %}
