{% extends 'base.html' %}

{% block title %}
    Blogs
{% endblock  %}

{% block content %}

<div class="jumbotron">
    <h1>Blogs</h1>
    <p class="lead">
        <br>
        文章編輯(Blog-edit)：<br>
文章功能中讓使用者能夠撰寫文章，包含『標題』、『編撰日期』、『瀏覽量』、『內文』、『作者』，『內文』使用Django文字編輯器並包含圖片上傳功能、表格功能，『作者』會直接帶入使用者資料與大頭照(如有設定)。
        <br>
文章列表(Blog-list)：<br>
此功能會顯示『文章主題』、『文章作者』、『文章時間』，並可以依照瀏覽人次或是瀏覽量做排序。
        <br>
作家管理(Blog-author)：<br>
                        僅教師帳號能給予學生撰寫文章的權限，並於此處管理精選作家

        <br>
   </p>

</div>

{% endblock  %}