{% extends 'base.html' %}
{% block title %}隊伍資料{% endblock  %}
{% block error_content %}
    <div class="container-fluid">
        {% if error_message %}
            <div>{{ error_message }}</div>
            <p>Please click <a href="{% url 'show_team' %}">here</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    {% if check_team %}
    <section class="bottom" id="table-section">
    {% if mem1 %}
        <div class="container">
            <h2 class="title">隊員{{ target_title }}</h2>
            <p class="sub_title">{{ target_title }}隊伍資訊</p>
            <div class="content-box table-responsive">
                  <div>
                      <form method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <h3 class="title">隊員</h3>
                      <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="validationDefault02">姓名</label>
                          {{ mem1.member_name }}
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="validationDefault02">學校</label>
                          {{ mem1.school_name }}
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="validationDefault02">系所</label>
                          {{ mem1.department_name }}
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="validationDefault02">年級</label>
                          {{ mem1.department_grade }}
                        </div>
                      </div>
                      <div class="form-row">
                         <div class="col-md-6 mb-3">
                          <label for="validationDefault02">電子信箱</label>
                          {{ mem1.email_addr }}
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="validationDefault03">行動電話</label>
                          {{ mem1.phone_number }}
                        </div>
                      </div>
                          {# 隱藏欄位 #}
                              <input type="hidden" name="target_id" value="{{ target_id }}">

                          <button class="btn btn-primary" type="submit">{{ target_title }}</button>
                      </form>
{#                      {% endfor %}#}
                      <hr>
{#                  {% endif %}#}

                  </div>

            </div>
        </div>
        {% endif %}
    </section>
    {% else %}
    <p>No team yet. Please click <a href="{% url 'add_team' %}">here</a>
        to add team.</p>
    {% endif %}
{% endblock  %}

